.root {
  @apply inline-flex cursor-pointer select-none appearance-none items-center justify-center
    rounded-button px-6 font-medium transition-colors duration-150 ease-linear focus:outline-none;
}

.primary {
  background: black;
  border: 1px solid white;
  opacity: 1;
  color: white;
}

.secondary {
  background: white;
  border: black;
  color: black;
}

.default {
  background: transparent;
  border: gray;
  color: gray;
}

.danger {
  background: red;
  border: gray;
  color: white;
}

.root:disabled {
  @apply pointer-events-none cursor-not-allowed select-none shadow-none;
  color: white;
  border: white;
  background: gray;
}

.root:hover:not(:focus) {
  background: gray 0% 0% no-repeat padding-box;
  border: black;
  color: black;
}
